@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

a {
  color: #1c9bce;
}
a:hover {
   color: rgb(241, 51, 140)
}

/* Heading Animation */
@media only screen and (min-width: 576px){

  .line-1{
    position: relative;
    top: 3rem;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  .anim-typewriter{
    animation: typewriter 3s steps(22) 1s 1 normal both,
              blinkTextCursor 500ms steps(22) infinite normal;
  }

  @keyframes typewriter{
      from{width: 0;}
      to{width: 600px;}
  }

  @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
  }
}

.opacity {
  opacity : 0.65
}

.playButton {
  background: none;
  border: none;
  align-items: stretch;
  justify-content: normal;
  position: relative;
  top: -3px;
}

input[type="range"] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}

.caption {
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
}