@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: 'Chakra Petch', sans-serif;
  background-color: #fafafa;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid #007bff;
  color: #007bff; 
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent; 
}

.timeline-dot {
  width: 12px;
  height: 12px;
  background-color: #cccccc;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 15px;
  transform: translateY(-50%);
}

.timeline-line {
  width: 2px;
  background-color: #e0e0e0;
  position: absolute;
  top: 20px;
  bottom: -20px; 
  left: 15px; 
}

.timeline-date {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  width: 50px; 
}

.active .timeline-dot {
  background-color: #fb923c; /* Active dot color */
}

.active .timeline-line {
  background-color: #fb923c; /* Active line color */
}


.bullet {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.bullet-icon {
  flex-shrink: 0;
}

.bullet-text {
  word-wrap: break-word;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

a {
  color: #1c9bce;
}
a:hover {
   color: rgb(241, 51, 140)
}

/* Heading Animation */
@media only screen and (min-width: 576px){

  .line-1{
    position: relative;
    top: 3rem;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }

  .anim-typewriter{
    animation: typewriter-name 3s steps(22) 1s 1 normal both,
              blinkTextCursor 500ms steps(22) infinite normal;
  }

  .delay-typewriter {
    animation: typewriter-role 3s steps(22) 1s 1 normal both,
    blinkTextCursor 500ms steps(22) infinite normal;
    animation-delay: 3.5s; 
  }

  @keyframes typewriter-name {
      from{width: 0;}
      to{width: 550px;}
  }

  @keyframes typewriter-role {
    from{width: 0;}
    to{width: 750px;}
}

  @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
  }
}

.opacity {
  opacity : 0.65
}

.playButton {
  background: none;
  border: none;
  align-items: stretch;
  justify-content: normal;
  position: relative;
  top: -3px;
}

input[type="range"] {
  background-color: #27ae60;
}

@media (max-width: 900px) {
  .component {
    width: 50%;
  }
}

.caption {
  background-color: white;
  color: black;
  font-weight: 500;
  text-align: center;
}